.main-menu{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: $w_main_vertical_menu;
  height: 100vh;
  left: 0;
  position: fixed;
  top: $h_main-header;
  bottom: 0;
  background-color: $c_main;
  border-right: $border-medium;
  &_item{
    @include sub-heading;
    font-weight: $fw_regular;
    padding: rem($leading*1.5);
    background-color: $c_main;
    border-bottom: $border-medium;
    text-align: center;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    text-transform: capitalize;
    &:hover{
      background-color: $c_main_soft;
    }
    &--active{      
      background-color: $c_main_soft-medium;
      font-weight: $fw-bold;
    }
  }
}
